@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
body{
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    margin-top: 50px auto 0 auto;
    font-size: 562.5%;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color:#11999E
}
.mountain{
    position: relative;
    left: 85px;

}
.top-container{
    background-color: #DEFCF9;
    position: relative;
    padding-top: 100px;
    
}
.middle-container{

}
.bottom-container{

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    width: 200px;
    height: 200px;

    
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    width: 200px;
    height: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.code-img{
    width: 25%;
    float: right;
    margin-left: 30px;
    
}
.profile-picture{
    width: 25%;
}
.profile{
    width: 50%;
    margin: auto;
}
.contact-me{
    width: 30%;
    margin: auto;
    line-height: 2;
}

button{
    background-color: #11999E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}
.bottom-container{
   padding: 50px 0;
   background-color:#66BFBF;
   text-align: center;
}
.footer-link{
    color: #11999E;
    margin: 20px;

}
.f-p{
    color: #EAf6F6;
}
hr{
    border: dotted #EAf6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}